<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Kurdistan Parliament - Iraq</title>
    <meta property="og:title" content="Kurdistan Parliament - Iraq">
    <meta property="og:description"
          content="As provided in the federal constitution of Iraq, Parliament has considerable power to debate and legislate on policy in a wide range of areas: health services, education and training, policing and security, the environment, natural resources, agriculture, housing, trade, industry and investment, social services and social affairs, transport and roads, culture and tourism, sport and leisure, and ancient monuments and historic buildings., The Kurdistan Parliament shares legislative power with the federal authorities in the following areas, but priority is given to the Kurdistan Parliament’s laws: customs, electric energy and its distribution, general planning, internal water resources. In addition, under Article 121 of the Iraqi federal constitution the Kurdistan Parliament has the right to amend the application of Iraq-wide legislation that falls outside of the federal authorities’ exclusive powers.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://www.parliament.krd">

    <link rel="icon" href="img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/fragment-head :: navbar"></div>
<!-- About Start -->
<div class="container-xxl py-5" dir="rtl">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img">
                    <img class="img-fluid" src="img/about-1.jpg" alt="">
                </div>
            </div>

            <br>

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <br><br>
                <h3><b th:text="#{about.title}">كورتەیەك لە بارەی بنکەی یاسدانان</b></h3><br>

                <p th:text="#{about.introduction.paragraph}">بەگوێرەی فەرمانی پەرلەمانی ژمارە (2/5/1904) لە 21/8/2019
                    لێژنەیەك لەژمارەیەك راوێژکاری پەرلەمانی
                    کوردستان و پسپۆری بواری تەکنەلۆژیا پێکهێنراو ڕاسپێردران بە ئامادەكردنی بنکەی یاسادانانی هەرێمی
                    كوردستان بەشێوەكی ئەلیكترونی، كە هەموو ئەو یاساو بڕیارە یاساو پەیڕەوو رێنماییانە لەخۆبگرێت كە
                    لەلایەن دامەزراوە دەستووریەكانی هەرێمەوە دەرچوون و دەردەچن، هەر لەساڵی 1992 وە تاوەكو ئیستا، هەروەها
                    ئەو یاسا ئیتحادیانەش دەگرێتەوە كە لەهەرێم بەگوێرەی یاسای دەرچووێندراو لەپەرلەمانی كوردستان
                    بەركاركراون. ئەو بنکەیە بەشێوەیەك ڕێكخراوە كەرێگەدەدات بەبەردەوامی و رۆژانە بەپێی پێویست
                    نوێبكرێتەوە.</p>
                <p class="mb-4" th:text="#{about.data4}">داتای یاساو بریارەكان</p>
                <div class="d-flex align-items-center mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary"
                         style="width: 120px; height: 120px;">
                        <h1 class="display-2 mb-n2" data-toggle="counter-up" th:text="${law}">100</h1>
                    </div>
                    <div class="ps-4" style="margin-right:10px;">
                        <!--                        <h3>کۆی</h3>-->
                        <!--                        <h3>ژمارەی</h3>-->
                        <h3 class="mb-0" th:text="#{simple.law}">یاسا</h3>
                    </div>

                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary"
                         style="width: 120px; height: 120px;">
                        <h1 class="display-2 mb-n2" data-toggle="counter-up" th:text="${order}">200</h1>
                    </div>
                    <div class="ps-4" style="margin-right:10px;">
                        <!--                        <h3>کۆی</h3>-->
                        <!--                        <h3>ژمارەی</h3>-->
                        <h3 class="mb-0" th:text="#{order.law}">بڕیارەکان</h3>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary"
                         style="width: 120px; height: 120px;">
                        <h1 class="display-2 mb-n2" data-toggle="counter-up" th:text="${management}">300</h1>
                    </div>
                    <div class="ps-4" style="margin-right:10px;">
                        <!--                        <h3>کۆی</h3>-->
                        <!--                        <h3>ژمارەی</h3>-->
                        <h3 class="mb-0" th:text="#{instructions}">ڕێنماییەکان</h3>
                    </div>

                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary"
                         style="width: 120px; height: 120px;">
                        <h1 class="display-2 mb-n2" data-toggle="counter-up" th:text="${guide}">400</h1>
                    </div>
                    <div class="ps-4" style="margin-right:10px;">
                        <!--                        <h3>کۆی</h3>-->
                        <!--                        <h3>ژمارەی</h3>-->
                        <h3 class="mb-0" th:text="#{order.legal.law}">پەیڕەوەکان</h3>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center border border-5 border-primary"
                         style="width: 120px; height: 120px;">
                        <h1 class="display-2 mb-n2" data-toggle="counter-up" th:text="${managementOrder}">500</h1>
                    </div>
                    <div class="ps-4" style="margin-right:10px;">
                        <!--                        <h3>کۆی</h3>-->
                        <!--                        <h3>ژمارەی</h3>-->
                        <h3 class="mb-0" th:text="#{order.managment}">بڕیارەکانی کارگێری</h3>
                    </div>

                </div>

                <p>
                    <h3><b th:text="#{about.goal.legdb}">ئامانجی بنکەی یاسادانان</b></h3>
                    <br>
                        <ol>
                            <li th:text="#{goal1}"></li>
                            <li th:text="#{goal2}"></li>
                            <li th:text="#{goal3}"></li>
                            <li th:text="#{goal4}"></li>
                            <li th:text="#{goal5}"></li>
                        </ol>

                </p>
            </div>

            <h3><b th:text="#{collecting.data.title}">قۆناغەكانی ئامادەكردنی بنکەی یاسادانان</b></h3><br>

            <h3 th:text="#{collecting.data.point1}">یەکەم</h3>
            <p style="text-align: justify;margin-top: 0;" th:text="#{collecting.data.point1.paragraph}">
                لێژنەكە یەكەم كۆبوونەوەی ئامادەکاری بۆ دەسپێکی کارەکانی لە 21/8/2019 ئەنجامدا، یەكەم هەنگاویش لەوبارەیە
                كۆكردنەوە و ڕێكخستنی داتاكانی پەیوەندیدار بەیاساو بڕیارەکان بوو بەشێوەی (word )، بەڵام لێرەدا كێشەی
                نەبوونی
                دەقی بەشێک لەویاساو بڕیارانە بەشێوەی (word ) سەری هەڵدا، بەتایبەتیش ئەوەی پەیوەندیدارە بەخولی یەكەمی
                پەرلەمان، بۆ ئەم مەبەستە لێژنەیەكی فەرمی لەفەرمانبەرانی یاسایی پەرلەمان بەو ئەركە راسپێدران تا جارێکی تر
                چاپیان بکەنەوە.
            </p>

            <h3 th:text="#{collecting.data.point2}">دووەم</h3>
            <p style="text-align: justify;margin-top: 0;;" th:text="#{collecting.data.point2.paragraph}">
                پەرلەمانی کوردستان لە مێژووی تەمەنی خۆیداو لەخولە جیاوازەکانی و لەساڵی جیا جیادا، چەندین یاسای بۆ چەندین
                جار
                هەموار کردۆتەوە، بۆیە پێویست بوو ئەم یاسایانە لەشێوەی یەک پاکێچ کۆبکرێنەوەو یەکبخرێن بۆ ئەوەی بە ئاسانی
                بگاتە بەردەستی پسپۆران و خوێنەران، بۆ ئەم مەبەستە لیژنەیەک بەفەرمانی سەرۆکی دیوان لە ژمارەیەک فەمانبەری
                یاسایی پێکهات بەسەرپەرشتی راوێژکاری یاسایی بۆ یەکخستنی ئەم یاسایانە.
            </p>

            <h3 th:text="#{collecting.data.point3}">سێیەم</h3>
            <p style="text-align: justify;margin-top: 0;" th:text="#{collecting.data.point3.paragraph}">
                لێژنەكە پێی باشبوو پەیوەندی بەهەندێك لەڕیكخراوە نێودەوڵەتی و ناوەخۆییەكان بكات بەمەبەستی بەدەستهێنانی
                پاڵپشتی تەكنیكی و دارایی و بۆكارەكانی دانانی ئەو بنکەیە. بۆئەم مەبەستەش وەفدێکی لیژنە بەسەرۆكایەتی
                سەرۆكی
                لێژنە و ئەندامەكانی سەردانی نووسینگەی یونامی كرد لەهەولێر، دوای كۆبوونەوە لەگەڵ بەرێز (ریکاردۆ رۆدریگز)
                بەرپرسی یونامی داوای پڕۆپۆزەلیكیان كرد لەو بارەیەوە، دواتر پڕۆپۆزەلەكە بەڕاوێژ لەگەل دوو شارەزای یۆنامی
                ئامادەكراو ئاراستەی یۆنامی کرا بەو مەبەستەی بیخاتە بەردەم رێكخراوەكان بۆ پاڵپشتیكردنی كارەكە، هەروەها
                وێنەیەك لە پرۆپۆزەڵەکە ئاراستەی رێکخراوی بانكی نیودەوڵەتی كرا، بەڵام بەداخەوە هیچ وەڵامێكمان وەرنەگرت،
                بۆیە
                لێژنە بڕیاریدا پشت بەتوانای دارایی و هونەریی پەرلەمان ببەستی بۆ تەواوكردنی ئەوكارە. ئەوەی هاندەریش بۆ
                ئەوكارە، ئەو ئارەزووە گەورەیەی سەرۆكی پەرلەمان بوو لەتەواوكرنی ئەو كارە جا هەرچیەك بێت لەبەربەست و
                تێچووەکەی.
            </p>

            <h3 th:text="#{collecting.data.point4}">چوارەم</h3>
            <p style="text-align: justify;margin-top: 0;" th:text="#{collecting.data.point4.paragraph}">
                دوای چاپکردنی یاساو بڕیارەکان لەلایەن لیژنەیەک لەفەرمانبەرانی پەرلەمان، لەلایەن بەشی بنکەی یاسادان سەر
                بەسەنتەری توێژینەوەی پەرلەمان لەرووی هونەری رێكخرایەوەو دەستکرا بەدانانی داتاكان لەپرۆگرامەکە
                (database)،
                هەروەها هەموو یاساكان بەشێوەی ئەسڵی خۆیان لە سەرجەم ژمارەکانی رۆژنامەی فەرمی (پەرلەمانی کوردستان) کە لە
                ساڵانی 1992 - 2009وەک رۆژنامەی فەرمی پەرلەمانی کوردستان دەرچووەو (93)ژمارەی لێ بڵاوکراوەتەوە، لەگەڵ
                سەرجەم
                ژمارەکانی رۆژنامەی فەرمی وەقائعی كوردستان دەرهێنراوە بەشێوەی (pdf) جیاکراوەتەوە تاكو لەگەڵ هاوتاكەی
                بەشێوەی
                (word) بەراورد بکرێت و دابنرێت.
            </p>

            <h3 th:text="#{collecting.data.point5}">پێنجەم</h3>
            <p style="text-align: justify;margin-top: 0;" th:text="#{collecting.data.point5.paragraph}">
                １. لێژنەیەكی پێداچوونەوە بە فەرمانی سەرۆكی پەرلەمان لە(9) راوێژكاری یاسایی پەرلەمان پێكهندرا، بۆ
                پێداچونەوە
                و بەراوردكردنی هەموو یاساكان، بۆ ئەوەی هیچ یاسایەك دانەبەزێنرێت ئەگەر وردوو دروست نەبێت.
                <br>
                ２. لێژنەیەكی پێداچوونەوە بە فەرمانی سەرۆكی پەرلەمان لە(9) راوێژكاری یاسایی پەرلەمان پێكهندرا، بۆ
                پێداچونەوە
                و بەراوردكردنی هەموو بڕیارە یاساکان، بۆ ئەوەی هیچ بڕیارە یاسایەك دانەبەزێنرێت ئەگەر وردوو دروست نەبێت.
            </p>


            <h3 th:text="#{defaults.title}">   بەربەستەكانی کاری لیژنەکە:</h3>
            <h3 th:text="#{defeculties.short}" style="margin-top: 0;">  كۆمەڵێك بەربەست هاتنە بەردەم كاری لێژنەكە، لەوانە :</h3>
            <p style="text-align: justify;margin-top: 0;">
                <ol style="margin-top: 0;">
                    <li style="margin-top: 0;" th:text="#{defaults1}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults2}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults3}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults4}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults5}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults6}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults7}"></li>
                    <li style="margin-top: 0;" th:text="#{defaults8}"></li>
                </ol>

            </p>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Footer Start -->
<footer th:replace="fragments/fragment-footer :: footer"></footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>