<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kurdistan Parliament - Iraq</title>
    <meta property="og:title" content="Kurdistan Parliament - Iraq">
    <meta property="og:description"
          content="As provided in the federal constitution of Iraq, Parliament has considerable power to debate and legislate on policy in a wide range of areas: health services, education and training, policing and security, the environment, natural resources, agriculture, housing, trade, industry and investment, social services and social affairs, transport and roads, culture and tourism, sport and leisure, and ancient monuments and historic buildings., The Kurdistan Parliament shares legislative power with the federal authorities in the following areas, but priority is given to the Kurdistan Parliament’s laws: customs, electric energy and its distribution, general planning, internal water resources. In addition, under Article 121 of the Iraqi federal constitution the Kurdistan Parliament has the right to amend the application of Iraq-wide legislation that falls outside of the federal authorities’ exclusive powers.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://www.parliament.krd">
    <link rel="icon" href="img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>
<body>
<div th:replace="fragments/fragment-head :: navbar"></div>

<div class="container-xxl py-5" dir="rtl">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-12 animate__animated animate__fadeInTopRight  animate__delay-0.4s">
                <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s">
                    <h2 class="display-8" th:text="#{const.title}">پڕۆسەی نووسینەوەی دەستووری هەرێمی کوردستان</h2>
                    <p th:text="#{const.paragraph}"><b>هەرێمی کوردستان تا ئێستا خاوەنی دەستوری خۆی نییە، لە ڕابردوودا
                        پەرلەمانی کوردستان چەندین هەوڵیداوە بۆ نووسینەوەی دەستوور، هەوڵەکان بەسەر چەند وێستگەیەکی گرنگ
                        دابەش دەبن، بە پشتبەستن بە ڕیزبەندی مێژوویی گرنگترین وێستگەکان دەخەینەڕو:-</b></p>
                </div>
            </div>

            <div class="col-lg-12 animate__animated animate__fadeInTopRight  animate__delay-0.4s">
                <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s"
                     style="border: 1px solid #001140;border-radius: 10px;padding: 16px;">
                    <h3><b th:text="#{const.station1}">وێستگەی یەکەم:-</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station1.paragraph}"><b>ساڵی ٢٠٠٢ پەرلەمانی
                        کوردستان لیژنەیەکی (١٠) کەسی لە ژمارەیەک ئەندامی پەرلەمان و شارەزایانی بواری یاسا پێکدەهێنیت بۆ
                        نووسینەوەو ئامادەکردنی پڕۆژەیەکی دەستوور بۆ هەرێمی کوردستان و لە بەرواری ٢٠٠٢/١١/٧ بە بڕیارە
                        یاسای ژمارە (٢٦)، پڕۆژەی دەستووری کوردستان کە لە (٧٨) ماددە پێکهاتبوو پەسەند دەکات، بەڵام هەر بە
                        پرۆژە مایەوەو دواجار نەبووە دەستووری کوردستان.</b></p>
                    <br>

                    <div   class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0 " th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a  th:href="@{/document_reader/?fileName=lezhna10kas.jpg}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station1.link1}">لیژنەیەکی (١٠) کەسی پەرلەمانی
                                    کوردستان ساڵی ٢٠٠٢
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=5233}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station1.link2}">بریاری ژمارە (26) ساڵی 2002
                                    بنیاتنانی پڕۆژەی دەستوری هەرێمی کوردستان
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=5221}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station1.link2}">بریاری ژمارە (26) ساڵی 2002
                                    بنیاتنانی پڕۆژەی دەستوری هەرێمی کوردستان
                                </div>
                            </a>


                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="firstproject" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station1.link3}">یەکەم پڕۆژەی پێشنیازکراوی دەستوور
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="firstproject" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station1.link3}">یەکەم پڕۆژەی پێشنیازکراوی دەستوور
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 animate__animated animate__fadeInTopRight  animate__delay-0.4s">
                <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s"
                     style="border: 1px solid #001140;border-radius: 10px;padding: 16px;">
                    <h3><b th:text="#{const.station2}">وێستگەی دووەم:-</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station2.paragraph1}"><b>ساڵی ٢٠٠٥ لە ژێر ڕۆشنایی
                        ئەو گۆڕانکارییانەی لە عیراق ڕویاندابوو بەتایبەت پرۆسەی نووسینەوەی دەستووری ساڵی ٢٠٠٥ ، پەرلەمانی
                        کوردستان بە بڕیارە یاسای ژمارە (٤) لە ٢٠٠٥/٨/٦، بڕیاریدا پێداچوونەوە بۆ پڕۆژە دەستووری ساڵی ٢٠٠٢
                        بکات، بۆ ئەم مەبەستە لیژنەیەکی لە (١٨) کەس، کە ژمارەیەک ئەندامی پەرلەمان و شارەزایانی بواری
                        یاسای لەخۆگرتبوو، پێکهێنا. دوای پێداچوونەوە لیژنەکە پرۆژەیەکی تازەی دەستووری هەرێمیان ئامادەکرد
                        کە لە (١٢٢) ماددە پێکهاتبوو. </b></p>
                    <p style="text-align: justify;" th:text="#{const.station2.paragraph2}"><b>لەبەرەنجامی کۆتاییهاتنی
                        کاری لیژنەی پێداچوونەوەی دەستوور و ئامادەکردنی پرۆژەی دەستووری هەرێمی کوردستان، پەرلەمان ساڵی
                        (٢٠٠٨) یاسای ژمارە (١٦) ی ساڵی ٢٠٠٨ ی تایبەت بە دیاریکردنی ڕێوشوێنی ئەنجامدانی راپرسی لەسەر
                        پڕۆژە دەستوورەکە دەرکرد. </b></p>
                    <p style="text-align: justify;" th:text="#{const.station2.paragraph3}"><b>لە ساڵی ٢٠٠٩ دوو جار ئەم
                        یاسایە هەمورکرایەوە لە ڕیگەی هەریەکە لەیاسای ژمارە(٩) ی سالی ٢٠٠٩ یاسای هەمواری یەکەمی یاسای
                        پەسەندکردنی دەستووری هەرێمی کوردستان و یاسای ژمارە (١٠) ی ساڵی ٢٠٠٩ یاسای هەمواری دووەمی یاسای
                        پەسەندکردنی دەستووری هەرێمی کوردستان، ئەمەش بۆ ڕێکخستنی وردتری بابەتی پەسندکردنی پڕۆژەکە لە
                        پەرلەمانی کوردستان و چۆنیەتی خستنە ڕاپرسیەوە بۆ دەنگدان لەسەری لەلایەن گەلی کوردستانەوە. </b>
                    </p>
                    <p style="text-align: justify;" th:text="#{const.station2.paragraph4}"><b>لەبەر رۆشنایی ئەم
                        یاساکاریانەدا پەرلەمانی کوردستان بە بڕیارە یاسای ژمارە (٨) ی ساڵی ٢٠٠٩ دەقی پڕۆژە دەستووری
                        ئامادەکراو لە لایەن لیژنەی تایبەتمەندەوە پەسەند دەکات. دواتر بە نوسراوی ژمارە (٤/٣/٩٠٢) لە
                        بەرواری (٢٠٠٩/٦/٢٥) داوا لەکۆمسیۆنی باڵای هەڵبژاردنەکان دەکات هاوکات لە گەڵ هەڵبژاردنەکانی
                        سەرۆکی هەرێم و پەرلەمانی کوردستان کەوا بڕیارە لە (٢٥/٩/٢٠٠٩) ئەنجامبدرێت، پڕۆژەی دەستووری هەرێمی
                        کوردستانیش بخرێتە راپرسیەوە، بەڵام کۆمسیۆنی باڵای هەلبژاردنەکان بەنووسراوی ژمارە (خ/٩/١٣٤٠) لە
                        بەرواری (٢٠٠٩/٧/٦) ئەنجامدانی ڕاپرسیەکە لەو بەروارەدا ڕەتدەکاتەوە.</b></p>
                    <br>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=5194}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link1}">بڕیاری ژماره‌ی (4) ساڵی 2005
                                    چاوخشاندنه‌وه‌ به‌ پڕۆژه‌ی ده‌ستوری هه‌رێمی كوردستان
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=5296}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link1}">بڕیاری ژماره‌ی (4) ساڵی 2005
                                    چاوخشاندنه‌وه‌ به‌ پڕۆژه‌ی ده‌ستوری هه‌رێمی كوردستان
                                </div>
                            </a>
                        </div>
                    </div>

                    <div   class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:href="lizhna18" target="_blank" style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link7}">پێکهێنانی لیژنەیەکی ١٨ کەسی بۆ
                                    نووسینەوەی پڕۆژەی دەستوور
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/dasturiHaremiKurdistan2}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link2}">پڕۆژەی دەستووری هەرێمی کوردستان -
                                    عراق
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/dasturiHaremiKurdistan2}"
                               target="_blank" style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link2}">پڕۆژەی دەستووری هەرێمی کوردستان -
                                    عراق
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=1801}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link3}">یاسای ژماره‌ (16) ی ساڵی 2008 یاسای
                                    په‌سندكردنی ده‌ستووری هه‌رێمی كوردستان
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=3301}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link3}">یاسای ژماره‌ (16) ی ساڵی 2008 یاسای
                                    په‌سندكردنی ده‌ستووری هه‌رێمی كوردستان
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=1621}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link4}">یاسای ژماره‌ (9) ی ساڵی 2009 یاسای
                                    هه‌مواركردنی یه‌كه‌می یاسای په‌سندكردنی پڕۆژه‌ی ده‌ستووری هه‌رێمی كوردستان ژماره‌
                                    (16) ی ساڵی 2008.
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=3334}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link4}">یاسای ژماره‌ (9) ی ساڵی 2009 یاسای
                                    هه‌مواركردنی یه‌كه‌می یاسای په‌سندكردنی پڕۆژه‌ی ده‌ستووری هه‌رێمی كوردستان ژماره‌
                                    (16) ی ساڵی 2008.
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=1624}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link5}">یاسای ژماره‌ (10)ی ساڵی 2009 یاسای
                                    دووه‌م هه‌مواركردنی یاسای په‌سه‌ندكردنی ده‌ستووری هه‌رێمی كوردستان ژماره‌ (16)ی ساڵی
                                    2008هه‌مواركراو.
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=3334}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link5}">یاسای ژماره‌ (10)ی ساڵی 2009 یاسای
                                    دووه‌م هه‌مواركردنی یاسای په‌سه‌ندكردنی ده‌ستووری هه‌رێمی كوردستان ژماره‌ (16)ی ساڵی
                                    2008هه‌مواركراو.
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=5410}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link6}">بریاری ژمارە (8) ساڵی 2009 پەسند
                                    کردنی پرۆژەی دەستوری هەرێمی کوردستان.
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=5413}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link6}">بریاری ژمارە (8) ساڵی 2009 پەسند
                                    کردنی پرۆژەی دەستوری هەرێمی کوردستان.
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0 previewImage" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:href="@{/document_reader/?fileName=w2PRLbokoms.jpg}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link8}">نوسراوی پەرلەمان بۆ کۆمسیۆن</div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0 previewImage" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:href="@{/document_reader/?fileName=w2komsboPRL.jpg}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station2.link9}">نوسراوی کۆمسیۆن بۆ پەرلەمان</div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 animate__animated animate__fadeInTopRight  animate__delay-0.4s">
                <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s"
                     style="border: 1px solid #001140;border-radius: 10px;padding: 16px;">
                    <h3><b th:text="#{const.station3}">وێستگەی سێیەم:</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station3.paragraph}"><b> پەرلەمانی کوردستان لە ساڵی
                        ٢٠١٥ ، لە ڕێگەی یاسای ژمارە(٤)ی ساڵی ٢٠١٥ یاسای ئامادەکردنی پڕۆژەی دەستووری کوردستان بۆ راپرسی،
                        جارێکی دیکە هەوڵەکانی بۆ نوسینەوەی دەستوور دەستپێدەکاتەوە ، ئەمجارەیان لیژنەیەکی (٢٠) کەسی
                        لەئەندامانی پەرلەمان و شارەزایانی بواری یاسا پێکدەهێنێت، بەمەبەستی ئامادەکردنی پڕۆژەی دەستووری
                        هەرێمی کوردستان، و لە یاساکەدا هاتووە: پێویستە لیژنەکە کارەکانی لەماوەی (٩٠) ڕۆژدا تەواو بکات
                        ئەگەرنا پەرلەمان بۆی هەیە ماوەکەی بۆ درێژبکاتەوە. بەداخەوە لەوماوەیەدا نەتوانرا پڕۆژەی
                        دەستوورەکە ئامادەبکرێت و لەهەمانکات پەرلەمان ماوەکەشی درێژ نەکردەوە.</b></p>
                    <br>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=2179}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station3.link1}">یاسای ژماره‌ (4)ی ساڵی 2015 یاسای
                                    ئاماده‌كردنی پڕۆژه‌ی ده‌ستوری كوردستان- عێراق بۆ ڕاپرسی.
                                </div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}" th:href="@{/law-detail/?id=3094}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station3.link1}">یاسای ژماره‌ (4)ی ساڵی 2015 یاسای
                                    ئاماده‌كردنی پڕۆژه‌ی ده‌ستوری كوردستان- عێراق بۆ ڕاپرسی.
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:if="${#locale.language == 'ku'}" href="lizhna20" target="_blank" style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station3.link2}">پێکهێنانی لیژنەی ٢٠ کەسی</div>
                            </a>
                            <a th:unless="${#locale.language == 'ku'}"  href="lizhna20-ar" target="_blank" style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station3.link2}">پێکهێنانی لیژنەی ٢٠ کەسی</div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 animate__animated animate__fadeInTopRight  animate__delay-0.4s">
                <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s"
                     style="border: 1px solid #001140;border-radius: 10px;padding: 16px;">
                    <h3 th:text="#{const.station4}"><b>وێستگەی چوارەم:</b></h3>

                    <h3 th:text="#{const.station4.step1}"><b>هەنگاوی یەکەم:</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station4.step1.paragraph}"><b> لەسەرەتای
                        دەستبەکاربوونی بەڕێز د.ڕێواز فائق سەرۆکی پەرلەمانی کوردستان و لە پێناو بەدیهێنان و جێبەجێ کردنی
                        بەرنامەی کاری سەرۆکایەتی پەرلەمان لە خولی پێنجەمدا، یەکێک لەو ئامانجانەی پێویستە کاری بۆ بکرێت،
                        تەواوکردنی ئەو هەنگاوانە بووە لە پێناو نووسینەوەی دەستووری هەرێمی کوردستان کاری بۆ کرابوو، لەم
                        پێناوەدا سەرۆکی پەرلەمانی کوردستان سەردانی سەرجەم ئەو لایەنە سیاسیانەی کرد کە فراکسیۆنیان هەیە
                        لە پەرلەمانی کوردستان بە مەبەستی گەیشتن بە یەکڕیزی لایەنە سیاسیەکان لە پێناو بەدیهێنانی یەکڕەنگی
                        و یەکڕیزی بۆ نووسینەوەی دەستوورێکی هاوچەرخ بۆ هەرێمی کوردستان لەسەر بنەمای سازانی نیشتمانی .</b>
                    </p>

                    <h3 th:text="#{const.station4.step2}"><b>هەنگاوی دووەم:</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station4.step2.paragraph}"><b> لە ڕووانگەی هاوکاری
                        و هەماهەنگی نێوان هەرسێ سەرۆکایەتی هەرێمی کوردستان و ئامادەکاری بۆ کاراکردنەوەی هەنگاوەکانی
                        ئامادەکردنی پڕۆژەی دەستووری هەرێمی کوردستان، سەرۆکایەتی هەرێم نووسراوێکیان ئاراستەی پەرلەمانی
                        کوردستان کرد بە مەبەستی دەستنیشانکردنی نوێنەری پەرلەمانی کوردستان بۆ بەشداری لەو لیژنە
                        ئامادەکاری کاراکردنەوەی لیژنەی نووسینەوەی دەستوور، بۆ ئەم مەبەستە پەرلەمانی کوردستان (٣)
                        راوێژکاری خۆی وەک نوێنەر دیاریکرد بۆ بەشداری لە کۆبوونەوەکانی سەرۆکایەتی هەرێم .</b></p>

                    <h3 th:text="#{const.station4.step3}"><b>هەنگاوی سێیەم:</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station4.step3.paragraph}"><b> بەمەبەستی بەشداری
                        کردنی سەرجەم فراکسیۆنەکانی پەرلەمانی کوردستان لە شێوازو چۆنیەتی کاراکردنەوەی لیژنەی نووسینەوەی
                        دەستووری هەرێمی کوردستان و دەربڕینی ڕاوبۆچوونی تایبەت بە فراکسیۆنەکان لەو بارەیەوە، سەرۆکایەتی
                        پەرلەمانی کوردستان نووسراوی ئاراستەی سەرجەم فراکسیۆنەکان کرد، فراکسیۆنەکانیش بە نووسراوی فەرمی
                        سەرۆکایەتیان ئاگادارکردەوە لە ڕاوبۆچوونیان سەبارەت بە ناوەڕۆکی دەستووری هەرێمی کوردستان و
                        میکانیزمی کاراکردنەوەی لیژنەی دەستووری هەرێمی کوردستان .</b></p>

                    <h3 th:text="#{const.station4.step4}"><b>هەنگاوی چوارەم:</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station4.step4.paragraph}"><b> دەستەی سەرۆکایەتی
                        پەرلەمان لە ڕۆژی (٣) شەممە رێکەوتی ٢٠٢٢/٢/٨ کۆبوونەوەی لەگەڵ سەرجەم فراکسیۆنەکانی پەرلەمانی
                        کوردستان کرد. لەو کۆبوونەوەیەدا سەرجەم سەرۆک فراکسیۆنەکان ئامادەبوون و تێدا چەند پرسێکی گرنگ
                        تاووتوێ کرا لە نێوانیاندا ، پرسی دروستکردنەوەی لیژنەی ئامادەکردنی دەستووری هەرێمی کوردستان بوو،
                        دوای گفتوگۆی چڕوپڕی ئامادەبووان جگە لە فراکسیۆنی نەوەی نوێ هەموویان هاوڕابوون لەسەر پێویستی
                        بوونی دەستوور بۆ هەرێمی کوردستان، پێشنیارکرا کە سەرۆکایەتی پەرلەمان لیژنەیەک لە سەرجەم
                        فراکسیۆنەکان و لیژنەی یاسایی دروست بکات و پێشنیازی یاسای هەمواری ژمارە (٤)ی ساڵی ٢٠١٥ ئامادەبکەن
                        بۆ هەڵبژاردن و میکانیزمی نووسینەوەی دەستوور .</b></p>

                    <h3><b th:text="#{const.station4.step5}">هەنگاوی پێنجەم:</b></h3>
                    <p style="text-align: justify;" th:text="#{const.station4.step5.paragraph}"><b> بەڕێز سەرۆکی هەرێمی
                        کوردستان نامەیەکی ئاراستەی سەرۆکایەتی پەرلەمانی کوردستان کردو تێدا داوا لە پەرلەمانی کوردستان
                        دەکات هەنگاوە یاسایی و تەشریعیەکان بگرێتەبەر بۆ ئامادەکردنی پڕۆژەی دەستووری هەرێمی کوردستان وە
                        پاڵپشتی و پشتیوانی خۆی بۆ ئەم مەبەستە بۆ پەرلەمانی کوردستان خستەڕوو، دواجار پەرلەمانی کوردستان
                        بەرمەبنای نامەی سەرۆکی هەرێم و دەرەنجامی کۆبوونەوەی سەرۆک فراکسیۆنەکان وە پاڵپشت بە پەیڕەوی
                        ناوخۆی پەرلەمانی کوردستان، لیژنەیەک پێکهێنرا لە لیژنەی یاسایی و نوێنەری هەریەک لە فراکسیۆنەکانی
                        (یەکگرتووی ئیسلامی، ئازادی، سەردەم) بە مەبەستی ئامادەکردنی ڕەشنووسی پێشنیازە یاسایەک بۆ
                        پێکهێنانی لیژنەی ئامادەکردنی رەشنووسی دەستووری هەرێمی کوردستان .</b></p>
                    <br>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0 previewImage" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:href="@{/document_reader/?fileName=harem.jpg}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station4.link1}">نامەی بەڕێز سەرۆکی هەرێمی کوردستان
                                    لە ٢٨ی حوزەیرانی ٢٠٢٢
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 wow fadeInDown" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="flex-shrink-0 previewImage" th:src="@{/img/icons/book.png}" alt="Icon"
                                 style="padding-left:5px;width:4%;">
                            <a th:href="@{/document_reader/?fileName=par.jpg}" target="_blank"
                               style="padding:20px 0px;">
                                <div class="ms-4" th:text="#{const.station4.link2}">فەرمانی بەڕێز سەرۆکی پەرلەمان
                                    ژمارە/٢ لە ٢٠٢٢/٨/٢٤
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<footer th:replace="fragments/fragment-footer :: footer"></footer>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Template Javascript -->
<script src="js/main.js"></script>
<script defer th:src="@{js/preview.js}"></script>
</body>
</html>