<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Kurdistan Parliament - Iraq</title>
    <meta property="og:title" content="Kurdistan Parliament - Iraq">
    <meta property="og:description"
          content="As provided in the federal constitution of Iraq, Parliament has considerable power to debate and legislate on policy in a wide range of areas: health services, education and training, policing and security, the environment, natural resources, agriculture, housing, trade, industry and investment, social services and social affairs, transport and roads, culture and tourism, sport and leisure, and ancient monuments and historic buildings., The Kurdistan Parliament shares legislative power with the federal authorities in the following areas, but priority is given to the Kurdistan Parliament’s laws: customs, electric energy and its distribution, general planning, internal water resources. In addition, under Article 121 of the Iraqi federal constitution the Kurdistan Parliament has the right to amend the application of Iraq-wide legislation that falls outside of the federal authorities’ exclusive powers.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://www.parliament.krd">

    <link rel="icon" href="img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/fragment-head :: navbar"></div>

<form action="#" method="post" th:action="@{/search}">
    <div class="row">
        <div class="row col-lg-8" style="text-align:center;margin:auto;width:50%;direction:rtl;border-radius:10px;">
            <div class="input-group">

                <input type="search" class="form-control rounded" th:name="keyword" th:placeholder="#{search}" placeholder="گەڕان"
                       aria-label="Search"
                       aria-describedby="search-addon"/>
                <button class="btn btn-outline-primary" th:text="#{search}">گەڕان</button>

            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="row col-lg-3"></div>
    <div class="row col-lg-6">
        <img src="img/draw3.png" style="text-align:center;margin:auto;width:50%;">
        <hr>
        <p style="text-align:justify;text-justify:inter-word;direction:rtl;" th:text="#{about.introduction.paragraph}">
            بەگوێرەی فەرمانی پەرلەمانی ژمارە (2/5/1904)
            لە 21/8/2019 لێژنەیەك لەژمارەیەك راوێژکاری پەرلەمانی کوردستان و پسپۆری بواری تەکنەلۆژیا پێکهێنراو ڕاسپێردران
            بە ئامادەكردنی بنکەی یاسادانانی هەرێمی كوردستان بەشێوەكی ئەلیكترونی، كە هەموو ئەو یاساو بڕیارە یاساو پەیڕەوو
            رێنماییانە لەخۆبگرێت كە لەلایەن دامەزراوە دەستووریەكانی هەرێمەوە دەرچوون و دەردەچن، هەر لەساڵی 1992 وە
            تاوەكو ئیستا، هەروەها ئەو یاسا ئیتحادیانەش دەگرێتەوە كە لەهەرێم بەگوێرەی یاسای دەرچووێندراو لەپەرلەمانی
            كوردستان بەركاركراون. ئەو بنکەیە بەشێوەیەك ڕێكخراوە كەرێگەدەدات بەبەردەوامی و رۆژانە بەپێی پێویست
            نوێبكرێتەوە.</p>
    </div>
    <div class="row col-lg-3"></div>
</div>

<br>

<!-- Facts Start -->
<div class="container-xxl py-5" dir="rtl">

    <div class="container pt-5">
        <div class="row g-4">


            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.1s">
                <a th:href="@{/about}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{about.us}">دەربارەی بنکەی یاسادانان</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.2s">
                <a th:href="@{/constitution}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{label.const}">دەستوری هەرێم</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.3s">
                <a th:href="@{/krd-law}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{kurd.law}">یاساکانی هەرێم</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.4s">
                <a th:href="@{/federal-law}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{federal.law}">یاسا ئيتحاديەكان</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.5s">
                <a th:href="@{/orders-law(pageNumber=${1})}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{order.law}">بڕیارە یاسا</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.6s">
                <a th:href="@{/amendments(pageNumber=${1})}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{amends.law}">یاسا هەموارکراوە یەکخراوەکان</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.7s">
                <a th:href="@{/terminated-law}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{terminated.law}">یاسا هەڵوەشاوەکان</h5>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown" data-wow-delay="0.8s">
                <a th:href="@{/terminated-law}">
                <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                    <div class="fact-icon">
                        <i class="fa fa-book" style="font-size:60px;"></i>
                    </div>
                    <h5 class="mb-3" th:text="#{law.protocal.list}">پڕۆتۆکۆل</h5>
                </div>
                </a>
            </div>


        </div>
    </div>
</div>

<footer th:replace="fragments/fragment-footer :: footer"></footer>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>