<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Kurdistan Parliament - Iraq</title>
    <meta property="og:title" content="Kurdistan Parliament - Iraq">
    <meta property="og:description"
          content="As provided in the federal constitution of Iraq, Parliament has considerable power to debate and legislate on policy in a wide range of areas: health services, education and training, policing and security, the environment, natural resources, agriculture, housing, trade, industry and investment, social services and social affairs, transport and roads, culture and tourism, sport and leisure, and ancient monuments and historic buildings., The Kurdistan Parliament shares legislative power with the federal authorities in the following areas, but priority is given to the Kurdistan Parliament’s laws: customs, electric energy and its distribution, general planning, internal water resources. In addition, under Article 121 of the Iraqi federal constitution the Kurdistan Parliament has the right to amend the application of Iraq-wide legislation that falls outside of the federal authorities’ exclusive powers.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://www.parliament.krd">

    <link rel="icon" href="img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<div th:replace="fragments/fragment-head2 :: navbar"></div>

<div class="container-xxl py-5" dir="rtl">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s"
                 style="border:1px dotted #c55e00;border-radius:30px 5px;padding-bottom:15px;">
                <br>
                <div class="animate__animated animate__backInDown animate__delay-0.4s animate__faster" style="text-align: center;font-weight: bold;border-bottom: 1px solid #b78d65;">
                    <h4 th:text="${law.getLawTitle()}">ناونیشانی یاسا</h4>
                </div>
                <div th:switch="${law.getLawCategory()}">

                        <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.3s" style="color:#b78d65;"
                           aria-hidden="true">
                            <h5 th:case="'2'" th:text="#{law.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'3'" th:text="#{order.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'4'" th:text="#{act.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'5'" th:text="#{order.management.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'6'" th:text="#{regualtion.number} + ' : ' + ${law.getLawNumber()}"></h5>
                        </i> </b><br><br>
                </div>

                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.4s" style="color:#b78d65;"
                      aria-hidden="true"></i>
                    <h5 th:text="#{law.issue.year} + ' : ' + ${law.getIssueDate()}"></h5>

                <div th:switch="${law.getActive()}">
                    <b><i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.5s" style="color:#b78d65;"
                          aria-hidden="true"></i>
                        <h5 class="h6 fields" th:case="'1'" th:text="#{active.law.text}"></h5>
                        <h5 class="h6 fields" th:case="'0'" th:text="#{terminated.law.text}"></h5>

                </div>

                <div>


                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.6s" style="color:#b78d65;"
                       aria-hidden="true"></i>
                    <h4 th:text="#{law.edit.list} + ' : ' + ${listOfAmends.size()} "></h4>
                    <br><br>
                    <ul style="margin-right:2%;list-style: none;" th:each="laws : ${listOfAmends}">
                        <li><i class="fa fa-link" aria-hidden="true"></i> <a href="#"
                                                                             th:href="@{/law-detail/(id=${laws.getLawId()})}"
                                                                             th:text=" '  '+ ${laws.getLawTitle()}  ">
                            یاسای دووه‌م هه‌مواركردنی قانوونی ئه‌نجومه‌نی وه‌زیرانی هه‌رێمی كوردستان ـ ژماره‌ ساڵی
                            1992</a></li>
                    </ul>

                </div>

                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.6s" style="color:#b78d65;"
                       aria-hidden="true"></i>
                    <h5 th:text="#{law.related.list} +' : ' + ${listOfRelatedLaw.size()} "></h5>

                    <ul style="margin-right:2%;list-style: none;" th:each="lawRe : ${listOfRelatedLaw}">
                        <li><i class="fa fa-link" aria-hidden="true"></i> <a href="#"
                                                            th:href="@{/law-detail/(id=${lawRe.getLawId()})}"
                                                                th:text="${lawRe.getLawTitle()}">یاسای
                            ژماره‌ (12)ی ساڵی
                            2009
                            هه‌مواركردنی هه‌شته‌می یاسای ئه‌نجومه‌نی وه‌زیرانی هه‌رێمی كوردستان-عێراق ژماره‌
                            (3)ی
                            ساڵی 1992ی هه‌مواركراو.</a></li>

                    </ul>





                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.6s" style="color:#b78d65;"
                       aria-hidden="true"></i>
                    <h4 th:text="#{law.protocal.list} "></h4>

                    <ul style="margin-right:2%;list-style: none;" th:if="${law.getProtocols() != null}">
                        <li><i class="fa fa-link" aria-hidden="true"></i> <a href="#"
                              th:href="@{/download-protocol/(id=${law.getLawId() })}"
                                th:text="${law.getProtocols().getProtocolTitle()}">یاسای
                        ی هه‌مواركراو.</a></li>

                    </ul>

                </h6>

            </div>

        </div>

        <br>


        <div class="row g-3">
            <div>

                <div style="float:right;">
                    <h3 th:text="#{law.text}" style="border-bottom: 2px solid #b78d65;">دەقی یاسا</h3>
                </div>
                <div style="float:left;">
                <img src="../img/pdf.png" style="width:40px;"
                        th:onclick="|window.location.href='@{/download/(id=${law.getPdfDocument().getDocumentId()})}'|"
                        >

                <img src="../img/word.png" style="width:40px;"
                        th:onclick="|window.location.href='@{/download-word/(id=${law.getWordDocument().getDocumentId()})}'|"
                        >
                </div>
            </div>
            <pre th:text="${law.getLawContent()}"
                 style="unicode-bidi: embed; border: 1px dotted;color:black;text-align:right;direction:rtl; font-size:18px; overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; background: #fff; font-family:'UniQAIDAR_Hewal028';padding: 30px;border-radius:10px; box-shadow: 5px 10px 5px #e0e0e0;">

یاسایی ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستان
به‌ ناوی خوای به‌خشنده‌و میهره‌بان
...                </pre>

        </div>


    </div>
</div>
<!-- About End -->

<!-- Footer Start -->
<footer th:replace="fragments/fragment-footer :: footer"></footer>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>