<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Kurdistan Parliament - Iraq</title>
    <meta property="og:title" content="Kurdistan Parliament - Iraq">
    <meta property="og:description"
          content="As provided in the federal constitution of Iraq, Parliament has considerable power to debate and legislate on policy in a wide range of areas: health services, education and training, policing and security, the environment, natural resources, agriculture, housing, trade, industry and investment, social services and social affairs, transport and roads, culture and tourism, sport and leisure, and ancient monuments and historic buildings., The Kurdistan Parliament shares legislative power with the federal authorities in the following areas, but priority is given to the Kurdistan Parliament’s laws: customs, electric energy and its distribution, general planning, internal water resources. In addition, under Article 121 of the Iraqi federal constitution the Kurdistan Parliament has the right to amend the application of Iraq-wide legislation that falls outside of the federal authorities’ exclusive powers.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://www.parliament.krd">

    <link rel="icon" href="img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!--<div th:replace="fragments/fragment-head :: navbar"></div>-->
<style>
    @font-face {
        font-family: UniQAIDAR_Hewal028;
        /*src: url(UniQAIDAR_Hewal028/UniQAIDAR_Hewal028.woff);*/
        src: url(UniQAIDAR_Hewal028/gov_font.woff2);
    }

    * {
        font-family: UniQAIDAR_Hewal028;
    }

    h1 {
        font-family: 'UniQAIDAR_Hewal028';
    }

    h2 {
        font-family: 'UniQAIDAR_Hewal028';
    }

    h3 {
        font-family: 'UniQAIDAR_Hewal028';
        font-weight: bold;
    }

    h4 {
        font-family: 'UniQAIDAR_Hewal028';
    }

    h5 {
        font-family: 'UniQAIDAR_Hewal028';
    }

    h6 {
        font-family: 'UniQAIDAR_Hewal028';
    }

    p {
        font-family: 'UniQAIDAR_Hewal028';
        font-size: 20px;
    }

    ul {
        font-family: 'UniQAIDAR_Hewal028';
    }

    li {
        font-family: 'UniQAIDAR_Hewal028';
    }

    a {
        font-family: 'UniQAIDAR_Hewal028';
        font-size: 20px;
    }

    .navbar-nav a {
        border-bottom: 2px solid #b78d65;
        margin-right: 5px;
        padding: 10px 0;
        font-size: 19px;
        color: black;
        font-weight: bold;
    }

    .animate-charcter {
        text-align: center;
        text-transform: uppercase;
        background-image: linear-gradient(
                -225deg,
                #231557 0%,
                #44107a 29%,
                #ff1361 67%,
                #00a905 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        font-size: 16px;
        text-align: center;
    }

    @keyframes textclip {
        to {
            background-position: 200% center;
            text-align: center;
        }
    }


    .mb-0 {
        color: black;
    }

    .pagination {
        justify-content: center;
    }

    .pagination a {
        color: black;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 10px;
    }

    .pagination a.active {
        background-color: #b78d65;
        color: white;
    }

    .pagination a:hover:not(.active) {
        background-color: #001140;
        color: white;
    }

</style>
<!-- Spinner Start-->
<!--<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
<!--    <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status"></div>-->
<!--    <img class="position-absolute top-50 start-50 translate-middle" src="img/icons/icon-1.png" alt="Icon">-->
<!--</div>-->
<!-- Spinner End-->


<!-- Topbar Start -->
<nav class="navbar navbar-expand-lg" data-wow-delay="0.1s" style="background:#001140;height: 50px;">
    <div class="row col-lg-12" style="color:white;width: 100%;">
        <div>
            <div class="h-100 d-inline-flex align-items-center py-3 me-3" style="color:white;">
                <a class="px-2" href="mailto:info@legislation.krd" style="color:white;"><i
                        class="fa fa-envelope-open text-primary me-2"></i><span class="__cf_email__"
                                                                                data-cfemail="cda4a3aba28dbdacbfa1a4aca0a8a3b9e3a6bfa9"
                                                                                style="font-size:20px;">info@legislation.krd</span></a>
            </div>

            <div class="h-100 d-inline-flex align-items-center py-3 me-3" style="float:right;">
                <a class="btn btn-sm btn-outline-body me-1" href="" style="color:white;border-radius:5px;"
                   th:href="@{/index?lang=ku}">کوردی</a>
                <a class="btn btn-sm btn-outline-body me-1" href="" style="color:white;border-radius:5px;"
                   th:href="@{/index?lang=ar}">العربية</a>
                <a class="btn btn-sm-square btn-outline-body me-1" href="#" style="color:white;border-radius:5px;"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square btn-outline-body me-1" href="#" style="color:white;border-radius:5px;"><i
                        class="fab fa-youtube"></i></a>
                <a class="btn btn-sm-square btn-outline-body me-1" href="#" style="color:white;border-radius:5px;"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s"
     dir="rtl" style="text-align:center;">

    <img class="me-3 p-0 wow fadeInDown" src="img/3392logo1.png" style="width:7%;" alt="Icon">

    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            style="font-size: 50px;">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-5 p-lg-0">
            <a href="index.html" class="nav-item nav-link active wow fadeInDown" data-wow-delay="0.1s" th:href="@{/}"
               th:text="#{home}">سەرەکی</a>
            <a href="about.html" class="nav-item nav-link wow fadeInDown" data-wow-delay="0.2s" th:href="@{/about}"
               th:text="#{about.us}">دەربارەی بنکەی یاسادانان</a>
            <a href="#" class="nav-item nav-link wow fadeInDown" data-wow-delay="0.3s" th:href="@{/constitution}"
               th:text="#{label.const}">دەستوری هەرێم</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle wow fadeInDown" data-bs-toggle="dropdown"
                   data-wow-delay="0.4s" th:href="@{/krd-law}" th:text="#{kurd.law}">یاساکانی هەرێم</a>
                <div class="dropdown-menu border-0 m-0" style="text-align:center;">
                    <a href="#" class="dropdown-item">گەڕان بەپێی دەروازەی یاسا</a>
                    <a href="#" class="dropdown-item" th:text="#{law.type.search}" th:href="@{/law-type}">گەڕان بەپێی
                        جۆری یاسا</a>
                    <a href="#" class="dropdown-item" th:text="#{law.year.search}" th:href="@{/list-years}">گەڕان بەپێی
                        ساڵی دەرچوون</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle wow fadeInDown" data-bs-toggle="dropdown"
                   data-wow-delay="0.5s" th:href="@{/federal-law}" th:text="#{federal.law}">یاسا ئيتحاديەكان</a>
                <div class="dropdown-menu border-0 m-0" style="text-align:center;">
                    <a href="https://iraqld.e-sjc-services.iq/" class="dropdown-item">یاسا ئيتحادیەکان پێش ساڵی 1992</a>
                    <a href="https://iraqld.e-sjc-services.iq/" class="dropdown-item">یاسا ئيتحادیەکان پاش ساڵی 2005</a>
                </div>
            </div>
            <a href="Bryara_Yasa.html" class="nav-item nav-link wow fadeInDown" data-wow-delay="0.6s"
               th:href="@{/orders-law(pageNumber=${1})}" th:text="#{order.law}">بڕیارە یاسا</a>
            <a href="#" class="nav-item nav-link wow fadeInDown" data-wow-delay="0.7s"
               th:href="@{/amendments(pageNumber=${1})}" th:text="#{amends.law}">یاسا هەموارکراوە یەکخراوەکان</a>
            <a class="nav-item nav-link wow fadeInDown" data-wow-delay="0.8s" th:href="@{/terminated-law}"
               th:text="#{terminated.law}">یاسا هەڵوەشاوەکان</a>
            <a href="contact.html" class="nav-item nav-link wow fadeInDown" data-wow-delay="0.9s"
               th:href="@{/contact-us}" th:text="#{contact.us}">پەیوەندی</a>
        </div>
    </div>

</nav>
<!-- Navbar End -->


<div class="container-xxl py-5" dir="rtl">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-12 wow fadeInDown" data-wow-delay="0.1s"
                 style="border:2px solid #c55e00;border-radius:30px 5px;padding-bottom:15px;">
                <br><br>
                <div th:switch="${law.getLawCategory()}">
                    <h4 th:case="'2'" style="text-align:center; font-family: Calibri "
                        th:text="#{law.title} + ' : ' + ${law.getLawTitle()}">ناونیشانی یاسا</h4>
                    <h4 th:case="'3'" style="text-align:center; font-family: Calibri "
                        th:text="#{order.title} + ' : ' + ${law.getLawTitle()}">ناونیشانی یاسا</h4>
                    <h4 th:case="'4'" style="text-align:center; font-family: Calibri "
                        th:text="#{law.title} + ' : ' + ${law.getLawTitle()}">ناونیشانی یاسا</h4>
                    <h4 th:case="'5'" style="text-align:center; font-family: Calibri "
                        th:text="#{law.title} + ' : ' + ${law.getLawTitle()}">ناونیشانی یاسا</h4>
                    <h4 th:case="'6'" style="text-align:center; font-family: Calibri "
                        th:text="#{law.title} + ' : ' + ${law.getLawTitle()}">ناونیشانی یاسا</h4>

                </div>
                <div th:switch="${law.getLawCategory()}">
                    <b>
                        <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.3s" style="color:#b78d65;"
                           aria-hidden="true">
                            <h5 th:case="'2'" th:text="#{law.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'3'" th:text="#{order.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'4'" th:text="#{act.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'5'" th:text="#{order.management.number} + ' : ' + ${law.getLawNumber()}"></h5>
                            <h5 th:case="'6'" th:text="#{regualtion.number} + ' : ' + ${law.getLawNumber()}"></h5>
                        </i> </b><br><br>
                </div>
                <b><i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.4s" style="color:#b78d65;"
                      aria-hidden="true"></i>
                    <h5 th:text="#{law.issue.year} + ' : ' + ${law.getIssueDate()}"></h5>
                </b><br><br>
                <div th:switch="${law.getActive()}">
                    <b><i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.5s" style="color:#b78d65;"
                          aria-hidden="true"></i>
                        <h5 class="h6 fields" th:case="'1'" th:text="#{active.law.text}"></h5>
                        <h5 class="h6 fields" th:case="'0'" th:text="#{terminated.law.text}"></h5>
                    </b><br><br>
                </div>

                <div>


                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.6s" style="color:#b78d65;"
                       aria-hidden="true"></i>
                    <h4 th:text="#{law.edit.list} + ' : ' + ${listOfAmends.size()} "></h4>
                    <br><br>
                    <ul style="margin-right:2%;list-style: none;" th:each="laws : ${listOfAmends}">
                        <li><i class="fa fa-link" aria-hidden="true"></i> <a href="#"
                                                                             th:href="@{/law-detail/(id=${laws.getLawId()})}"
                                                                             th:text=" '  '+ ${laws.getLawTitle()}  ">
                            یاسای دووه‌م هه‌مواركردنی قانوونی ئه‌نجومه‌نی وه‌زیرانی هه‌رێمی كوردستان ـ ژماره‌ ساڵی
                            1992</a></li>
                    </ul>

                    <br><br>
                </div>
                <b>
                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.6s" style="color:#b78d65;"
                       aria-hidden="true"></i>
                    <h5 th:text="#{law.related.list} +' : ' + ${listOfRelatedLaw.size()} "></h5>
                    <br><br>
                    <ul style="margin-right:2%;list-style: none;" th:each="lawRe : ${listOfRelatedLaw}">
                        <li><i class="fa fa-link" aria-hidden="true"></i> <a href="#"
                                                                             th:href="@{/law-detail/(id=${lawRe.getLawId()})}"
                                                                             th:text="${lawRe.getLawTitle()}">یاسای
                            ژماره‌ (12)ی ساڵی
                            2009
                            هه‌مواركردنی هه‌شته‌می یاسای ئه‌نجومه‌نی وه‌زیرانی هه‌رێمی كوردستان-عێراق ژماره‌
                            (3)ی
                            ساڵی 1992ی هه‌مواركراو.</a></li>

                    </ul>
                </b>

                <br><br>

                <b>
                    <i class="fa fa-bookmark wow fadeInDown" data-wow-delay="0.6s" style="color:#b78d65;"
                       aria-hidden="true"></i>
                    <h4 th:text="#{law.protocal.list} "></h4>
                    <br><br>
                    <ul style="margin-right:2%;list-style: none;" th:if="${law.getProtocols() != null}">
                        <li><i class="fa fa-link" aria-hidden="true"></i> <a href="#"
                                                                             th:href="@{/download-protocol/(id=${law.getLawId() })}"
                                                                             th:text="${law.getProtocols().getProtocolTitle()}">یاسای
                            ژماره‌ (13)ی
                            ساڵی2012
                            یاسای هه‌مواركردنی نۆیه‌می یاسای ئه‌نجومه‌نی وه‌زیرانی هه‌رێمی كوردستان ژماره‌ (3)ی
                            ساڵی
                            1992ی هه‌مواركراو.</a></li>

                    </ul>
                </b>

                </h6>

            </div>

        </div>

        <br>
        <br>
        <br>

        <div class="row g-5">
            <h4 th:text="#{law.text}">دەقی یاسا</h4>
            <div>
                <button class="btn btn-primary"
                        th:onclick="|window.location.href='@{/download/(id=${law.getPdfDocument().getDocumentId()})}'|"
                        th:text="#{law.download.pdf}">
                </button>
                <button class="btn btn-primary"
                        th:onclick="|window.location.href='@{/download-word/(id=${law.getWordDocument().getDocumentId()})}'|"
                        th:text="#{law.download.word}">
                </button>
            </div>
<!--            <p  th:text="${law.getLawContent()}"></p>-->
           <pre th:utext="${#strings.escapeXml(#strings.listJoin(law.getLawContent(),'&lt;br&gt;'))}"
                 style="text-align:right;direction:rtl; font-size:14px; overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; background: #fff; font-family:'Droid Arabic Kufi',serif; border-radius:10px; box-shadow: 5px 10px 5px #e0e0e0;">

یاسایی ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستان
به‌ ناوی خوای به‌خشنده‌و میهره‌بان
به‌ ناوی گه‌ل
ئه‌نجوومه‌نی نیشتمانیی كوردستانی عێراق
ژماره‌ بڕیار: 15
به‌رواری بڕیار 16/9/1992
25/ گه‌لاوێژ/ 2692 ك
بڕیار
به‌پێی حوكمی بڕگه‌ی/1ی مادده‌ی/56ی یاسای ئه‌نجوومه‌نی نیشتمانیی كوردستانی عێراق ژماره‌ 1/ی ساڵی 1992.....
ئه‌نجوومه‌ن له‌ دانیشتنی رۆژی 8/7/ 1992 ئه‌م یاسایه‌ی خواره‌وه‌ی بڕیاردا.

یاسای ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستان
ژماره‌ (3)ی ساڵ/ 1992
مادده‌ی یه‌كه‌م:
مه‌به‌ست له‌م وشانه‌ی خواره‌وه‌ ماناكانی ته‌نیشتیانه‌:
-ئه‌نجوومه‌ن: ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستانی عێراق.
-سه‌رۆك: سه‌رۆكی ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستانی عێراق.
-وه‌زیر: وه‌زیری په‌یوه‌ندیدار له‌ هه‌رێمی كوردستانی عێراق.
كوردستان: هه‌رێمی كوردستان.
-هه‌رێم: هه‌رێمی كوردستانی عێراق.
مادده‌ی دووه‌م:
ئه‌نجوومه‌ن باڵاترین ده‌زگای جێ به‌جێ كردنه‌ له‌ سه‌رۆك و جێگره‌كه‌ی و وه‌زیره‌كانی پێك دێ.
مادده‌ی سێ یه‌م:
هه‌ر یه‌كێ له‌ وه‌زاره‌ته‌كان كه‌سایه‌تنییه‌كی مه‌عنه‌ویان هه‌یه‌ خاوه‌نی گشت ئه‌و مافانه‌ن كه‌ له‌ یاسا ره‌چاوه‌كاندا هه‌ن.
مادده‌ی چواره‌م:
یه‌كه‌م: ئه‌وانه‌ی ئه‌وانه‌ی به‌ سه‌رۆك و جێگر و سه‌رۆكی وه‌زیر داده‌نرێن، ده‌بی مه‌رجه‌كانی مادده‌ی (21)ی یاسا له‌ ئه‌نجوومه‌نی نیشتمانی كوردستان ژماره‌ (1)ی ساڵی/ 1992 یان تێدا بێ، جگه‌ له‌ مه‌رجی ته‌مه‌ن بۆ وه‌زیر كه‌ ده‌بێ گه‌یشتبێته‌ (21) ساڵی ته‌مه‌نی.
دووه‌م: وه‌زاره‌تی كاروباری پێشمه‌رگه‌ كه‌ له‌ بڕگه‌ی (4)ی مادده‌ی (9) ی یاسای ژماره‌ (3)ی ساڵی 1992 دا ناوی خاتووه‌، لاده‌برێت (ئیلغا) ده‌كرێت."3"
مادده‌ی پێنجه‌م:
بوه‌ردان به‌ ئه‌ندامانی ئه‌نجوومه‌ن، یه‌كه‌ یه‌كه‌و له‌سه‌ر خواستی سه‌رۆك ده‌بێ.
مادده‌ی شه‌شه‌م:
سه‌رۆك و جێگره‌كه‌ی و وه‌زیره‌كان، دوای باوه‌رپێدانیان له‌ لایه‌نی ئه‌نجوومه‌نی نیشتمانیی كوردستانه‌وه‌، له‌به‌ر ده‌میدا ئه‌و سوێنده‌ ه‌ده‌خۆن:
(به‌ خوای گه‌وره‌ سوێند ده‌خۆم كه‌ به‌ دلسۆزی یه‌وه‌ پارێزگاری له‌ یه‌كێتی گه‌ل و خاكی كوردستانی عێراق بكه‌م و رێز له‌ یاسا ره‌چاو كراوه‌كانی بگرم).
مادده‌ی حه‌وته‌م:
ئه‌نجوومه‌ن له‌ هه‌ولێردا كۆده‌بێته‌وه‌، ده‌شكێ له‌ كاتی پێویستدا و به‌ بڕیاری ئه‌نجوومه‌ن خۆی، له‌ شوێنێكی تردا كۆببێته‌وه‌.
مادده‌ی هه‌شته‌م:
ئه‌نجوومه‌ن خاوه‌نی ئه‌م ده‌سه‌ڵاتانه‌ ده‌بێت:
1-دانانی سیاسه‌تی گتی هه‌رێم و سه‌رپه‌رشتی مردنی به‌جێهێنانی به‌ پێ ی یاسا و بڕیاره‌ ره‌چاو كراوه‌كان، دوای بڕیاردانی له‌ لایه‌ن ئه‌نجوومه‌نی نیشتمانیی كوردستان.
2-پێشنیاز كردرن و ئاماده‌ كردنی پرۆژه‌ یاساكان و پێشكه‌ش كردنیان به‌ ئه‌نجوومه‌نی نیشتمانیی كوردستان بۆ بڕیار له‌سه‌ر دانیان.
3-ئاماده‌كردن پرۆژه‌ په‌یره‌وه‌كان و ئاماده‌ كردنیان.
4-ئاماده‌كردنی پرۆژه‌ی بووجه‌ی گشتی هه‌رێم.
5-ئاماده‌كردنی پرۆژه‌كانی نه‌خشه‌ی گه‌شه‌ پێ كردنی هه‌رێم.
6-قه‌رز دان و وه‌رگرتنی به‌ بڕیرای ئه‌نجوومه‌نی نیشتمانیی كوردستان.
7-جێ به‌جێ كردنی یاساكان و پاراستنی ئاسایشی هه‌رێم و پارێزگاریكردن له‌ مافه‌كانی هاووڵاتیان و ماڵ و موڵكه‌ گشتییه‌ كان و به‌رژه‌وه‌ندیه‌كانی گه‌لی كوردستانی عێراق.
8-رێ نیشان دان و سازكردن و به‌دوا داچوونی كار و فرمان وه‌زاره‌ته‌كان دایه‌ره‌كانیان و دام و ده‌زگا گشتییه‌كان.
9-چاودێریكردنی ره‌وایی ئه‌و رێنماییانه‌ی وه‌زاره‌ته‌كان و دام و ده‌زگاكانی ده‌ری ده‌كه‌ن.
"3" مه‌رجی ته‌مه‌ن بۆ وه‌زیرو هه‌روه‌ها لابردنی وه‌زاره‌تی كاروباری پێشمه‌رگه‌ به‌پێی "یاسای یه‌كه‌م هه‌موار كردنی یاسای ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستانی عێراق ژماره‌ "3"ی ساڵی 1992 بوو كه‌ حوكمی بڕیاری ژماره‌ "35"ی رۆژی 14/12/1994ی ئه‌نجوومه‌ن ده‌گرێته‌وه‌.


10-ده‌ركردنی بڕیاری به‌رێ كردن و به‌جێ هێنانی یاسا ره‌چاوكاوه‌كان و چاودێری كردنی چۆنیه‌تی به‌ ئه‌نجام گه‌یاندنیان.
11-دامه‌زراندنی فه‌رمانبه‌ران و به‌ڕێوه‌به‌ره‌ گشتییه‌كان و هاوێشتن و له‌ كار خستنی و خانه‌نشینكردنیان به‌ پێی یاسا.
12-به‌ ده‌ر له‌ برَگه‌ی (11)ی پێشو و، دامه‌زراندنی خاوه‌ن پله‌ تایبه‌تی یه‌كان و سه‌رۆكی وه‌حده‌ ئیداریه‌كان و دادوه‌ره‌كان و ئه‌ندامانی ده‌زگای (داواكاریی گشتی) به‌ پێشنیازی وه‌زیری په‌یوه‌ندار بڕیاری ئه‌نجومه‌ن و دواجار به‌ بڕیاری په‌یوه‌ندار به‌ پێی یاسا ره‌چاو كراوه‌كان ده‌بێ.

ب:ده‌شێ ئه‌نجومه‌نی وه‌زیرانی هه‌رێمی كوردستانی عێراق چه‌ند وه‌زیری هه‌رێمی تیادا بن."4"
مادده‌ی ده‌یه‌م:
ده‌زگایوك بۆ خوێندنی باڵا و توێژینه‌وه‌ی زانستی پێك ده‌هێنرێ و به‌ ده‌سته‌ی سه‌رۆكایه‌تی وه‌زاره‌ته‌وه‌ ده‌به‌سترێته‌وه‌. كاروباریشی به‌ پێ ی پێره‌وێكی تایبه‌تی رێك ده‌خرێ.
"4" بڕگه‌ی "ب" خرایه‌ سه‌ر مادده‌ی (9)ی ئه‌م یاسایه‌ به‌پێی یاسای ژماره‌ (3)ی ساڵی 1996 "یاسای یه‌كه‌مین هه‌مواركردنی یاسای ئه‌نجوومه‌نی وه‌زیرانی هه‌رێمی كوردستانی عێراق ژماره‌ (3)ی ساڵی 1992" ئه‌مه‌ش به‌گوێره‌ی بڕیاری ئه‌نجوومه‌ن ژماره‌ "4"ی رۆژی 23/9/1996.
مادده‌ی یازده‌یه‌م:
1-له‌ حاڵه‌تی لادانی سه‌رۆكیك یا واز هێنانی یاخود واز هێنانی زۆربه‌ی ئه‌ندامانی ئه‌نجوومه‌ن، واداده‌نرێ كه‌ وه‌زاره‌ت وازی له‌ كار هێناوه‌.
به‌ڵام ئه‌گه‌ر وه‌زاره‌ته‌كه‌ هاوپه‌یمانی بوو له‌ نێوان دوو ده‌سته‌ی سه‌ره‌كیه‌كه‌ی ناو ئه‌نجومه‌نی نیشتمانی كوردستان داو ئه‌گه‌ر وه‌زیرانی هه‌ر لایه‌كیان به‌ كۆمه‌ڵ له‌ وه‌زاره‌ت كشانه‌وه‌، وا داده‌نرێت كه‌ وه‌زاره‌ته‌كه‌ وازی له‌ كار هێناوه‌.
2-ئه‌ندامانی ئه‌نجومه‌ن تا كاتی پێك هێنانی وه‌زاره‌تێكی نوێ، له‌سه‌ر به‌رێوه‌بردنی ئه‌ركه‌ ره‌سمییه‌كانیان به‌رده‌وام ده‌بن.


                                                                                   جوهر نامق سالم
                                                                سه‌رۆكی ئه‌نجوومه‌نیی نیشتمانی کوردستانی عێراق


                </pre>

        </div>


    </div>
</div>
    <!-- About End -->

    <!-- Footer Start -->
    <footer th:replace="fragments/fragment-footer :: footer"></footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>