<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>پێکهێنانی لیژنەی ٢٠ کەسی</title>
    <meta property="og:title" content="Kurdistan Parliament - Iraq">
    <meta property="og:description"
          content="As provided in the federal constitution of Iraq, Parliament has considerable power to debate and legislate on policy in a wide range of areas: health services, education and training, policing and security, the environment, natural resources, agriculture, housing, trade, industry and investment, social services and social affairs, transport and roads, culture and tourism, sport and leisure, and ancient monuments and historic buildings., The Kurdistan Parliament shares legislative power with the federal authorities in the following areas, but priority is given to the Kurdistan Parliament’s laws: customs, electric energy and its distribution, general planning, internal water resources. In addition, under Article 121 of the Iraqi federal constitution the Kurdistan Parliament has the right to amend the application of Iraq-wide legislation that falls outside of the federal authorities’ exclusive powers.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://www.parliament.krd">

    <style>
        img{width:100%;}
    </style>
</head>
<body style="background:#001140;">

<a href="w3L20/20.pdf" style="color: white;text-decoration-line: none;border: 1px solid white;padding: 4px 15px;border-radius: 5px;">داگرتن</a>
<a href="constitution" style="color: white;text-decoration-line: none;border: 1px solid white;padding: 4px 15px;border-radius: 5px;">گەڕانەوە</a>

<center><h2 style="color:white;">پێکهێنانی لیژنەی ٢٠ کەسی</h2></center>

<img src="documents/committee-20-ar_page-0001.jpg">
<img src="documents/committee-20-ar_page-0002.jpg">

</body>
</html>